.selectShop {
  background-image: url("./img/garden.jpg");
  background-size: cover;
  min-height: 100vh;
}

.selectShopGradient {
  background: -webkit-linear-gradient(black, #00F8FF);
  opacity: 0.8;
  min-height: inherit;
  text-align: center;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: white;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: black; 
}
